@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'kumbh-sans';
    src: url('./fonts/kumbh-sans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{font-family: 'kumbh-sans', sans-serif;}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-gradient{
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

main{
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.45); z-index: 1;
}

li{
    border-bottom: 1px solid #e7e7e9; 
    padding: 5% 0 5%; 
}

button{font-size: 12px;}

p{font-size: 11px;}

li:nth-child(1){padding: 0 0 5% 0;}

li:hover, li:active{ background-color: #D3D3D3;}

li{
    cursor: pointer;
}

.answer{
    overflow: hidden;
    transition: maxHeight 0.3s ease;
    max-height: 0;
}

li.active .answer{
    max-height: 300px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    
    button{font-size: 14px;}

    p{font-size: 12px;}

    section.mobile-section{padding-top: 35%;}
} 

@media only screen and (min-width: 1024px){
    .desktop-section h1{padding: 0;}

    .desktop-section li{
        padding: 0;
    }
}
